.auction-panel { 
  width: 668px;
}

.auction-header {
  width: 100%;
  height: 32px;
  background: #c8102e;
  color: #fff;
}

.auction-header h2 {
  font-size: 16px;
  margin-left: 10px;
  color: white;
}

.auction-body {
  width: 100%;
  height: 200px;
}

.auction-bid {
  background: #000;
  float: left;
  width: 334px;
  height: 100%;
  overflow-y: scroll;
}

.auction-bid h3 {
  color: pink;
}

.bids li {
  color: grey;
  font-size: 10pt;
  margin-left: 10px;
  padding-bottom: 10px;
}

.bids li:first-child {
  font-size: 20pt;
  color: white;
  padding-bottom: 40px;
}

.bids li:first-child .bid-val {
  width: 167px;
  float: left;
}

.bids li:first-child .increment {
  width: 145px;
  float: right;
  position: relative;
  color: pink;
}

.bids li .bid-val {
  width: 167px;
  float: left;
}

.bids li .increment {
  width: 145px;
  float: right;
  position: relative;
  color: pink;
} 

.auction-comment {
  background:#2b2b2b;
  float: right;
  width: 334px;
  height: 100%;
  position: relative;
}  
.live-comments{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #1b1b1b;
}
.live-comments input{
  display: block;
  width: 318px;
  margin: 4px;
  padding: 0;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
